<!DOCTYPE html>
<html lang="en" ng-app='index'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tunely</title>

    <link rel="stylesheet" href="./styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="./scripts/app.js"></script>
    <script src="./scripts/controllers/MoviesIndexController.js"></script>
    <script src="./scripts/controllers/MoviesShowController.js"></script>
  </head>

  </head>

  <body>
    <div ng-view></div>
  </body>

</html>
